@page "/sieve"
@using System.Threading
@using System.Threading.Tasks
@using System.ComponentModel
@rendermode InteractiveServer

<h3>Sieb des Eratosthenes - Blazor WebAssembly</h3>

<div style="margin-bottom: 10px;">
    <label>Input 1 (Live Mirror):</label>
    <input @bind="Input1" class="form-control" style="width:400px;" />
</div>

<div style="margin-bottom: 20px;">
    <label>Live Mirror:</label>
    <input value="@Input1" readonly class="form-control" style="width:400px;" />
</div>

<div style="margin-bottom: 20px;">
    <label>Obergrenze für Primzahlsuche:</label>
    <input @bind="Input2" type="number" class="form-control" style="width:400px;" />
</div>

<div style="margin-bottom: 20px;">
    <button class="btn btn-primary m-1" @onclick="RunSieveSync">Sieb ohne Thread</button>
    <button class="btn btn-info m-1" @onclick="RunSieveThread">Sieb mit Thread</button>
    <button class="btn btn-warning m-1" @onclick="RunSieveBackgroundWorker">Sieb BackgroundWorker</button>
    <button class="btn btn-success m-1" @onclick="RunSieveAsync">Asynchrones Sieb</button>
</div>

<div>
    <label>Ergebnis:</label>
    <textarea readonly class="form-control" style="width:400px;height:80px;">@Output</textarea>
</div>

@code {
    private string Input1 { get; set; } = "";
    private int Input2 { get; set; } = 400_000_000;
    private string Output { get; set; } = "";

    private void SieveMethod(int n, out int result)
    {
        bool[] isPrime = new bool[n + 1];
        for (int i = 2; i <= n; i++) isPrime[i] = true;

        for (int i = 2; i * i <= n; i++)
        {
            if (isPrime[i])
            {
                for (int j = i * i; j <= n; j += i)
                    isPrime[j] = false;
            }
        }

        result = isPrime.Count(x => x);
    }
    
    private void RunSieveSync()
    {
        Output = " ... calculating ...";
        StateHasChanged();

        int result;
        SieveMethod(Input2, out result);

        Output = result.ToString();
    }
    
    private void RunSieveThread()
    {
        Output = " ... calculating ...";
        StateHasChanged();

        int result = 0;
        Thread t = new Thread(() => SieveMethod(Input2, out result));
        t.Start();
        t.Join();

        Output = result.ToString();
    }
    
    private void RunSieveBackgroundWorker()
    {
        Output = " ... calculating ...";
        StateHasChanged();

        int result = 0;

        BackgroundWorker worker = new BackgroundWorker();
        worker.DoWork += (s, e) => SieveMethod(Input2, out result);
        worker.RunWorkerCompleted += (s, e) => Output = result.ToString();
        worker.RunWorkerAsync();
    }
    
    private async Task RunSieveAsync()
    {
        Output = " ... calculating ...";
        StateHasChanged();

        int result = 0;
        await Task.Run(() => SieveMethod(Input2, out result));

        Output = result.ToString();
    }
}
